<div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bestellung aufgeben</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
            <dt><i class="fas fa-user"></i> Name</dt>
            <dd><input id="name" type="text" class="form-control" placeholder="Name"></dd>
            <dt><i class="fas fa-box"></i> Mahlzeit</dt>
            <dd>
              <div class="btn-group">
                <button id="menubutton" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-box"></i> Mahlzeit
                </button>
                <div id="menulist" class="dropdown-menu scrollable-menu">
                  <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
              </div>
              <!--
                <input id="meal" type="text" class="form-control" placeholder="Bestellung">
              -->
            </dd>
            <dt><i class="fas fa-search"></i> Größe</dt>
            <dd>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <i class="fas fa-search"></i> Größe
                    </button>
                    <div class="dropdown-menu" id="sizeDropdown">
                        <a id="sizeSmall" class="dropdown-item" href="#">Klein</a>
                        <a id="sizeBig" class="dropdown-item" href="#">Groß</a>
                        <a id="sizeNo" class="dropdown-item" href="#">--</a>
                    </div>
                </div>
            </dd>
            <dt><i class="far fa-comment"></i> Kommentar</dt>
            <dd><input id="comment" type="text" class="form-control" placeholder="Anmerkungen"></dd>
            <dt><i class="fas fa-money-bill-alt"></i> Kosten</dt>
            <dd id="pricePreview">0,00€</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Schließen</button>
        <button id="saveOrder" type="button" class="btn btn-success"><i class="fas fa-save"></i> Speichern</button>
      </div>
    </div>
  </div>
</div>