<div class="modal" id="trollModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <h5 class="modal-card-title">Spalter! Troll! Von wegen! Troll!</h5>
      </div>
      <div class="modal-card-body">
        <img width="100%" src="imgs/trollFace.jpg"></img>
      </div>
      <div class="modal-card-foot">
        <button class="button is-scondary" name="closeTroll">Naaa gut...</button>
      </div>
    </div>
  </div>
</div>
