<div class="modal" id="verifyClearListModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h5 class="modal-card-title">Liste löschen</h5>
      <button type="button" class="delete" name="closeClearList"></button>
    </header>
    <section class="modal-card-body">
      <p>Soll die Liste wirklich gelöscht werden?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" name="closeClearList">Abbrechen</button>
      <button id="btnVerifyClearList" class="button is-danger">Liste wirklich löschen</button>
    </footer>
  </div>
</div>