<footer class="footer">
  <div class="container">
    <div class="content has-text-centered has-text-dark">
      <small>
        <a href="https://github.com/rabalyn/syncOrder" target="_blank">
          <i class="fab fa-github fa-fw"></i> Source
        </a>
      </small>
    </div>
  </div>
</footer>
