<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      🍕&nbsp;PANF
    </a>
    <div class="navbar-burger burger is-dark" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
    <a class="navbar-item" href="/davinci">
      <i class="fas fa-file-alt fa-fw"></i> {{t "navbar.davincicard"}}
    </a>
    <!--
     <a class="navbar-item" href="/hobbit">
       <i class="fas fa-file-alt fa-fw"></i> {{t "navbar.menucard"}}
     </a>
    -->
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <i class="fas fa-phone fa-fw"></i> 06151 - 29 28 27 <!-- Hobbit Tel. 06151 - 714261-->
      </div>
      <div class="navbar-item">
        <p class="control">
          <button id="clearList" type="button" class="navbar-item button is-danger">
            <div>
              <i class="fas fa-trash-alt fa-fw"></i>{{t "navbar.deleteList"}}
            </div>
          </button>
        </p>
      </div>
      <div class="navbar-item">
        <div id="languagelistContainer" class="dropdown">
          <div class="dropdown-trigger">
            <button id="languagelistTrigger" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{{t "language"}}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="language-menu" role="menu">
            <div class="dropdown-content">
              <a id="btnGerman" class="dropdown-item">
                Deutsch
              </a>
              <a id="btnEnglish" class="dropdown-item">
                English
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
