<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <title>Essen OG2</title>
    {{> stylesheets}}
    {{> javascripts}}
    <link rel="icon" href="images/favicon.png">
  </head>

  <body>
    {{> navbar}}
    <div class="container-fluid">
      {{{body}}}
    </div>
  </body>
</html>