<!--
    these are not the droids you're looking for.
        .-.
       /_ _\
       |o^o|
       \ _ /
      .-'-'-.
    /`)  .  (`\
   / /|.-'-.|\ \
   \ \| (_) |/ /  .-""-.
    \_\'-.-'/_/  /[] _ _\
    /_/ \_/ \_\ _|_o_LII|_
      |'._.'|  / | ==== | \
      |  |  |  |_| ==== |_|
       \_|_/    ||" ||  ||
       |-|-|    ||LI  o ||
       |_|_|    ||'————'||
      /_/ \_\  /__|    |__\
-->

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <title>Essen 2GO</title>
    {{> stylesheets}}
    {{> javascripts}}
    <link rel="icon" href="images/favicon.png">
  </head>

  <body>
    {{> navbar}}
    <div class="container justify-content-center">
      {{{body}}}
    </div>
  </body>
</html>
