import path from 'path'

let config = {
  app: {
    domain: '',
    port: 1337
  },
  cookie: {
    secret: '',
    resave: false,
    saveUninitialized: true
  },
  postgres: {
    devel: {
      connectionString: 'postgres://$DEVUSER:$PASSWORD@127.0.0.1:5432/$DEVDATABASE'
    },
    staging: {
      connectionString: 'postgres://$STAGINGUSER:$PASSWORD@127.0.0.1:5432/$STAGINGDATABASE'
    },
    production: {
      connectionString: 'postgres://$PRODUCTIONUSER:$PASSWORD@127.0.0.1:5432/$PRODUCTIONDATABASE'
    }
  },
  redis: {
    host: '127.0.0.1',
    port: 6379,
    password: '$PASSWORD'
  },
  serialization: {
    tableIdFilestorepath: path.join(__dirname, '..', 'data', 'tableId.txt'),
    ordersFilestorepath: path.join(__dirname, '..', 'data', 'orders.json'),
    metaFilestorepath: path.join(__dirname, '..', 'data', 'meta.json'),
    paiedFilestorepath: path.join(__dirname, '..', 'data', 'paied.json'),
    interval: 1000 * 60 * 5
  },
  socket: {

  }
}

module.exports = config
