<link rel="stylesheet" href="css/davinci.css">

<div class="card">
  <header class="card-header">
     <h1 class="title card-header-title">{{t "davinci.title"}}</h1>
  </header>
  <div class="card-content">
    <div class="table-container">
      <table id="menuTable" class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><i class="fas fa-user"></i> {{t "davinci.mealname"}}</th>
            <th><i class="fas fa-box"></i> {{t "davinci.ingredients"}}</th>
            <th><i class="fas fa-money-bill-alt"></i> {{t "davinci.pricenormal"}}</th>
          </tr>
        </thead>
        <tbody id="menuTableBody">
        </tbody>
      </table>
    </div>
  </div>
  <footer class="card-footer">
  </footer>
</div>


<script src="dist/davinci.bundle.js"></script>
