{{> navbar}}
<link rel="stylesheet" href="css/hobbit.css">

<div class="embed-container">
    <iframe id="responsive-iframe" src="imgs/hobbit.pdf" width="100%" frameborder="0"></iframe>
</div>

<script src="js/hobbit.js"></script>