<link rel="stylesheet" href="css/home.css">
{{> navbar}}

<h1>WEB-PANF</h1>
<div class="row">
  <dl class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        Datum
    </dt>
    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <input type="date" class="form-control" id="inputDate" placeholder="Datum">
    </dd>
    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        Bestellauslöser
    </dt>
    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <input type="text" class="form-control" id="inputName" placeholder="Bestellauslöser">
    </dd>
    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        Abholer
    </dt>
    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <input type="text" class="form-control" id="inputCollector" placeholder="Abholer">
    </dd>
    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        Abholzeit
    </dt>
    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <input type="text" class="form-control" id="inputCollectTime" placeholder="Abholzeit">
    </dd>
  </dl>
</div>

<hr />

<table id="orderTable" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Bestellung</th>
      <th scope="col">Größe</th>
      <th scope="col">Kommentar</th>
      <th scope="col">Anzahlung</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<hr />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOrderModal">
  Bestellung hinzufügen
</button>

<script src="js/home.js"></script>
{{> addOrderModal}}