<link rel="stylesheet" href="css/home.css">

<div class="card">
  <header class="card-header">
     <h1 class="title card-header-title">WEB-PANF - v1.0</h1>
  </header>
  <div class="card-content">
    <div class="content">
      <article class="message is-warning">
        <div class="message-body" role="alert">
          <div class="alertText">
            <div class="columns is-mobile">
              <div class="column is-2">
                <i class="fas fa-4x fa-fw fa-exclamation-triangle float-left"></i>
              </div>
              <div class="column is-10">
                Öffnen Sie ruhig weitere Webseiten von *.übersprung.de in einem separaten Browsertab/-fenster, 
                während Sie das Formular ausfüllen, oder davor, oder danach, oder wann auch immer, da sich 
                das Formular auch dann noch abschicken lässt.
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="field">
      <label>
        <i class="far fa-calendar-alt"></i> Datum
      </label>
      <div class="control">
        <input type="date" class="input" id="inputDate" placeholder="Datum">
      </div>
    </div>
        
    <div class="field">
      <label>
        <i class="fas fa-user"></i> <i class="fas fa-phone"></i> Bestellauslöser
      </label>
      <div class="control">
        <input type="text" class="input" id="inputName" placeholder="Bestellauslöser">
      </div>
    </div>

    <div class="field">
      <label>
        <i class="fas fa-people-carry"></i> Abholer
      </label>
      <div class="control">
        <input type="text" class="input" id="inputCollector" placeholder="Abholer">
      </div>
    </div>

    <div class="field">
      <label>
        <i class="far fa-clock"></i> Abholzeit
      </label>
      <div class="control">
        <input type="text" class="input" id="inputCollectTime" placeholder="Abholzeit">
      </div>
    </div>

    <hr />

    <table id="orderTable" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th><i class="fas fa-user"></i> Name</th>
          <th><i class="fas fa-box"></i> Bestellung</th>
          <th><i class="fas fa-search"></i> Größe</th>
          <th><i class="far fa-comment"></i> Kommentar</th>
          <th><i class="fas fa-money-bill-alt"></i> Anzahlung</th>
        </tr>
      </thead>
      <tbody id="orderTableBody">
      </tbody>
    </table>
  </div>
  <footer class="card-footer">
    <button type="button" class="button is-success no-print" id="btnOpenAddOrder">
      <i class="fas fa-cart-plus"></i>&nbsp;Bestellung hinzufügen
    </button>
  </footer>
</div>

{{> addOrderModal}}
{{> verifyClearListModal}}
{{> trollModal}}

<script src="dist/home.bundle.js"></script>
