<link rel="stylesheet" href="css/home.css">

<div class="card text-center">
  <div class="card-header">
     <h1>WEB-PANF - v0.1</h1>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="alert alert-secondary" role="alert">
            <i class="fas fa-4x fa-fw fa-exclamation-triangle float-left"></i>
            <div class="alertText">
              Öffnen Sie ruhig weitere Webseiten von *.übersprung.de in einem separaten Browsertab/-fenster, 
              während Sie das Formular ausfüllen, oder davor, oder danach, oder wann auch immer, da sich 
              das Formular auch dann noch abschicken lässt.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <dl class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Datum
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="date" class="form-control" id="inputDate" placeholder="Datum">
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Bestellauslöser
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="text" class="form-control" id="inputName" placeholder="Bestellauslöser">
          </dd>
        </dl>
        <dl class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              Abholzeit
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <input type="text" class="form-control" id="inputCollectTime" placeholder="Abholzeit">
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              Abholer
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <input type="text" class="form-control" id="inputCollector" placeholder="Abholer">
          </dd>
        </dl>
      </div>

      <hr />

      <table id="orderTable" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Bestellung</th>
            <th scope="col">Größe</th>
            <th scope="col">Kommentar</th>
            <th scope="col">Anzahlung</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button type="button" class="btn btn-success no-print" data-toggle="modal" data-target="#addOrderModal">
      Bestellung hinzufügen
    </button>
  </div>
</div>

<script src="js/home.js"></script>

{{> addOrderModal}}
{{> verifyClearListModal}}
{{> trollModal}}