const config = {}

config.server = {}
config.server.baseUrl = 'https://$FQDN'
config.server.apiUrl = `${config.server.baseUrl}/api`
config.server.socketIOPath = '/$REVERSE_PROXY_PATH/'

module.exports = config
